<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    {% if page.keywords %}
    <meta name=keywords content="{{ page.keywords }}">
    {% endif %}
    {% if page.description %}
    <meta name=description content="{{ page.description }}">
    {% endif %}
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Discnt</h1>
        <p>Distributed counters</p>
        <ul>
          <li><a href="#setup">Setup</a></li>
          <li><a href="#api">API</a></li>
          <li><a href="#other-commands">Other commands</a></li>
          <li><a href="#client-libraries">Client libraries</a></li>
          <li><a href="#predictions">Predictions</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
        <ul class=buttons>
          <li><a href="https://github.com/ErikDubbelboer/discnt/zipball/v1.0.1">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/ErikDubbelboer/discnt/tarball/v1.0.1">Download <strong>TAR Ball</strong></a></li>
          <li><a href="http://github.com/ErikDubbelboer/discnt">Fork On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="http://github.com/ErikDubbelboer">Erik Dubbelboer</a></p>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
